**.DS_Store
**/__pycache__/

**/model_ckpts/__pycache__/
*.py[cod]
*.egg-info/
.DS_Store

# Virtual env
.venv/
venv/
env/

# Modelli/dati temporanei
*.pth
*.pt
*.ckpt
checkpoints/
runs/
data/
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Dati
*.csv
*.json
